.cont {
  color: rgb(225, 225, 225);
  //   background-color: red !important;
  position: relative;
  height: fit-content;
  &:first-child {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  &:last-child {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    height: 100%;
    width: 4px;
    background-color: rgb(225, 225, 225);
    border: none;
    border-radius: 4px;
  }
  &:last-child::after {
    width: 0;
  }
}
